[run]
branch = True
source = django_ai_assistant

[report]
omit =
    */tests/*
    */migrations/*
    *static*
    */templates/*
    management/commands/generate_openapi_schema.py
    apps.py
    admin.py
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    raise NotImplementedError
