*.pyc
db.sqlite3
db.sqlite3-journal
db.sqlite3-shm
db.sqlite3-wal
.DS_Store
.env
.env.tests
**/settings/local.py
/staticfiles/*
/mediafiles/*
__pycache__/
/.vscode/
/.mypy_cache/

# coverage result
.coverage
*/coverage/

# tox
.tox/

# pycharm
.idea/

# data
*.dump

# npm
node_modules/
npm-debug.log

# JS lib .gitignore
dist/
dist-ssr/
*.local

# Webpack
/example/bundles/*
/example/webpack_bundles/*
webpack-stats.json

# Sass
.sass-cache
*.map

# General
/{{project_name}}-venv/
/venv/
/env/
/output/
/cache/
boilerplate.zip

# Spritesmith
spritesmith-generated/
spritesmith.scss

# templated email
tmp_email/

# docs
site/

.direnv
.envrc
.tool-versions
