{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Django AI Assistant - HTMX Demo</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/htmx_index.css' %}" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/htmx.org@1.5.0/dist/htmx.min.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/loading-states.js"></script>
  </head>

  <body
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    hx-ext="loading-states"
  >
    <div class="d-flex vh-100">
      <aside class="col-3 border-right p-3 bg-light">
        <!-- This will be replaced by responses from django_ai_assistant:threads_list_create -->
        <div
          id="threads-wrapper"
          hx-get='{% url "django_ai_assistant:threads_list_create" %}'
          hx-trigger="load"
          hx-target="#threads-wrapper"
        ></div>
      </aside>

      <main class="col-9 d-flex flex-column p-3 main-container">
        <h2 class="mb-4">Chat</h2>

        <h5 class="text-center text-muted my-3" data-loading>
          <svg class="spinner" viewBox="0 0 50 50">
            <circle
              class="path"
              cx="25"
              cy="25"
              r="20"
              fill="none"
              stroke-width="5"
            ></circle>
          </svg>
          Loading...
        </h5>

        <!-- This will be replaced by reponses from django_ai_assistant:messages_list_create-->
        <div id="messages-wrapper" hx-indicator="#indicator">
          <div class="text-center text-muted my-3">
            Select or create a thread to start chatting.
          </div>
        </div>
      </main>
    </div>
  </body>
  <script>
    function onClickThreadItem(element) {
      // Remove active-thread class from all thread items, and add it to the clicked thread item
      const threads = document.querySelectorAll(".thread-item");
      threads.forEach((thread) => {
        thread.classList.remove("active-thread");
      });

      element.classList.add("active-thread");
    }

    function onClickCreateThreadButton(element) {
      const firstThreadItem = document.querySelector(
        "#threads-list .thread-item"
      );
      if (firstThreadItem) {
        // This will trigger onClickThreadItem
        firstThreadItem.click();
      }
    }

    document.body.addEventListener("htmx:afterRequest", function (event) {
      // Could not add this to the template because the new element is added to the DOM after the click/request
      if (event.detail.elt.id === "create-thread-button") {
        onClickCreateThreadButton();
      }
    });
  </script>
</html>
