<!DOCTYPE html>
<html>
  <head>
    <title>HTMX Chat</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.5.0/dist/htmx.min.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <style>
      .selected-thread {
        background-color: #007bff;
        color: white;
      }
    </style>
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <!-- Thread List -->
    <div id="chat-container" class="d-flex vh-100">
      <aside class="col-3 border-right p-3 bg-light">
        <h3>Threads</h3>
        <div
          id="threads-nav"
          class="list-group"
          hx-get='{% url "django_ai_assistant:threads_list_create" %}'
          hx-trigger="load"
          hx-target="#threads-nav"
        ></div>
        <button
          class="btn btn-primary mt-3"
          hx-post='{% url "django_ai_assistant:threads_list_create" %}'
          hx-trigger="click"
          hx-target="#threads-nav"
          hx-swap="beforebegin"
          hx-ext="json-enc"
        >
          Create Thread
        </button>
      </aside>

      <!-- Thread Messages -->
      <main class="col-9 d-flex flex-column p-3">
        <div class="container-fluid d-flex flex-column h-100">
          <div class="d-flex flex-column flex-grow-1">
            <h2 class="mb-4">Chat</h2>
            <div id="scroll-area" class="flex-grow-1 overflow-auto">
              <div id="chat-message-list" class="list-group">
                <div class="no-messages text-center text-muted my-3">
                  Select or create a thread to start chatting.
                </div>
              </div>
            </div>
            <textarea
              id="input-area"
              class="form-control mt-3"
              placeholder="Please create or select a thread on the sidebar"
              hx-trigger="keydown[mod+Enter]"
              hx-include="#input-area"
              hx-target="#chat-message-list"
              name="content"
              disabled
            ></textarea>
            <input type="hidden" id="thread-id" name="thread_id" value="" />
            <input
              id="assistant-id"
              type="hidden"
              name="assistant_id"
              value=""
            />
            <button
              id="send-button"
              class="btn btn-primary mt-3"
              hx-trigger="click"
              hx-include="#input-area,#assistant-id"
              hx-target="#chat-message-list"
              hx-swap="beforeend"
              hx-ext="json-enc"
              disabled
            >
              Send
            </button>
          </div>
        </div>
      </main>
    </div>

    <script>
      function setThreadId(threadId, element) {
        document.querySelector("#thread-id").value = threadId;
        document.querySelector("#input-area").placeholder =
          "Enter user message… (Ctrl↵ to send)";

        document.querySelector("#input-area").removeAttribute("disabled");

        const sendButton = document.querySelector("#send-button");
        sendButton.removeAttribute("disabled");
        const postUrl =
          `{% url "django_ai_assistant:messages_list_create" "openai_thread_id" %}`.replace(
            "openai_thread_id",
            threadId
          );
        sendButton.setAttribute("hx-post", postUrl);
        htmx.process(sendButton);

        document
          .querySelectorAll("#threads-nav .list-group-item")
          .forEach((thread) => {
            thread.classList.remove("selected-thread");
          });
        element.classList.add("selected-thread");
      }

      document.addEventListener("htmx:afterOnLoad", (event) => {
        // Fetch the assistant
        fetch('{% url "django_ai_assistant:assistants_list" %}')
          .then((response) => response.json())
          .then((data) => {
            if (data && data.length > 0) {
              document.querySelector("#assistant-id").value = data[0].openai_id;
            }
          })
          .catch((error) => console.error("Error:", error));

        // Style and set attributes to thread items
        if (event.detail.elt.id === "threads-nav") {
          document.querySelectorAll(".thread-item").forEach((item) => {
            item.classList.add("list-group-item", "list-group-item-action");
            const threadId = item.getAttribute("data-thread-id");
            const threadName = item.getAttribute("data-thread-name");
            item.setAttribute("data-thread-id", threadId);
            item.setAttribute(
              "hx-get",
              `/ai-assistant/threads/${threadId}/messages/`
            );
            item.setAttribute("hx-target", "#chat-message-list");
            item.setAttribute("onclick", `setThreadId('${threadId}', this)`);
          });
        }
      });

      // Send message on Ctrl+Enter
      document.addEventListener("keydown", function (event) {
        if (event.ctrlKey && event.key === "Enter") {
          document.getElementById("send-button").click();
        }
      });
    </script>
  </body>
</html>
